<div class="logo" style="width: 100%">
  <img
    align="center"
    border="0"
    alt="Premier's Awards - Banner"
    class="logo"
    src="https://premiersawards.gww.gov.bc.ca/wp-content/uploads/2022/09/PremiersAwards_MainLogo_Large.png"
    style="
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
      clear: both;
      display: inline-block !important;
      border: none;
      height: auto;
      width: auto;
      float: none;
      max-width: 100%;
      max-height: 175px;
    "
    width="600"
  />
</div>
